label {
  display: block;
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

input {
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
}
