* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}


#root {
  display: flex;
  gap: 2em;
}

label, fieldset{
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

input {
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid gray;
}

.years {
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  display: inline-block;
  max-width: 300px;
}

fieldset {
  border-radius: 6px;
  justify-content: center;
  max-width: 345px;
}

button {
  display: block;
  min-width: 350px;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  font-size: 18px;
  background-color: white;
  border: 1px solid gray;
}

.cards {
  margin-left: 3px;
  margin-bottom: 1em;
  border: 1px solid gray;
  max-width: 365px;
  padding: 6px;
  padding-bottom: 1em;
  border-radius: 6px;
  transform-origin: top;
  animation: fade-in 300ms ease-in;
}

.skill-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5em;
}

.skill-cards input {
  max-width: 200px;
}

.skill-cards label {
  min-width: 265px;
}

@keyframes fade-in {
  from {
    transform: scaleY(0);
  } to {
    transform: scaleY(1);
  }
}

.card-delete {
  transform-origin: top;
  animation: fade-out 300ms ease-out;
  transition-behavior: allow-discrete;
}

@keyframes fade-out {
  from {
    transform: scaleY(1);
  } to {
    transform: scaleY(0);
  }
}

.cards button {
  min-width: 340px;
  background-color: #ED5E68;
  color: #FFFEFE;
  margin-top: 1em;
}

.skill-delete.skill-delete {
  min-width: 10px;
  font-size: 16px;
  margin-top: auto;
}

textarea {
  margin-left: 4px;
  margin-top: 8px;
  border-radius: 6px;
  padding: 4px;
  resize: none;
}

fieldset input[type ="text"] {
  padding: 4px;
  font-size: 16px;
  max-width: 95px;
  margin-left: 8px;
}

legend span {
  font-size: 14px;
}

.section-button {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  min-width: 365px;
  border: 2px solid gray;
  margin-top: 1.5em;
}


.icon {
  transform-origin: center;
  margin-right: 4px;
  transition: transform 350ms;
}

.section-button > h2 {
  padding: 0px;
  margin: 0px;
}

.inactive {
  display: none;
}

.general-info {
  display: block;
}


.rotate-icon {
  transition: transform 350ms;
  transform: rotate(180deg);
}

.drop-inactive {
  transform-origin: top;
  animation: drop-down-inactive 350ms ease-in;
  animation-fill-mode: forwards;
}

.drop-active {
  transform-origin: top;
  animation: drop-down-active 350ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes drop-down-inactive {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
    display: none;
  }
}

@keyframes drop-down-active {
  0% {
    display: block;
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.save-preview {
  display: flex;
  justify-content: flex-end;
  margin: 4px;
  max-width: 355px;
  margin-top: 1.5rem;
}

.save-preview button {
  flex: 1;
  min-width: 0;
  transition: background-color 300ms ease-out, transform 300ms ease-out;
}

.save-preview button:is(:hover, :focus) {
  background-color: greenyellow;
  transform: scale(1.1);
}

#preview-container {
  max-width: 700px;
  line-height: 1.4;
  margin-top: 1.5rem;
}

#preview-container > div {
  margin-bottom: .75rem;
}

.preview-profession {
  font-size: 18px;
  font-weight: 500;
}

.preview-contact, #preview-skills-container {
  display: flex;
  gap: .75rem;
  flex-wrap: wrap;
}

.preview-title {
  font-size: 20px;
  font-weight: 400;
}

.preview-institution {
  display: flex;
  justify-content: space-between;
}

.preview-info-container {
  margin-bottom: .5rem;
}

@media (max-width: 600px) {
  #root {
    flex-direction: column;
  }

  #preview-container *{
    font-size: smaller;
    margin: 2px;
  }
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body  {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #edit-container {
    display: none;
  }
}